<template>
    <form action="#" method="POST" @submit.prevent="login">
        <div>
            <input type="email" name="email" v-model="email" placeholder="email">
        </div>
        <div>
            <input type="password" name="password" v-model="password" placeholder="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</template>

<script>
import axios from "axios";

export default {
    name: "Login",
    data() {
        return {
            email: '',
            password: '',
        }
    },
    methods: {
        login() {
            axios.get('/csrf-cookie')
                .then(response => {
                    axios.post('/login', {
                        email: this.email,
                        password: this.password,
                    }).then(response => {
                        localStorage.setItem('isLoggedIn', 'true');
                        this.$router.push({name: 'Dashboard'});
                    }).catch(error => {
                        console.log(error.response.data.message);
                    })
                });
        }
    }
}
</script>

<style scoped>

</style>
