<template>
    <form action="#" method="POST" @submit.prevent="register">
        <div>
            <input type="email" name="email" v-model="email" placeholder="email">
        </div>
        <div>
            <input type="password" name="password" v-model="password" placeholder="password">
        </div>
        <div>
            <input type="password" name="password_confirmation" v-model="passwordConfirmation" placeholder="password_confirmation">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</template>

<script>
export default {
    name: "Register",
    data() {
        return {
            email: '',
            password: '',
            passwordConfirmation: '',
        }
    },
    methods: {
        register() {
            axios.get('/csrf-cookie')
                .then(response => {
                    axios.post('/register', {
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.passwordConfirmation,
                    }).then(response => {
                        this.$router.push({name: 'Dashboard'});
                    }).catch(error => {
                        console.log(error.response.data.message);
                    })
                });
        }
    }
}
</script>
