<template>
    <div class="about">
        <h1>This is the Dashboard page</h1>
        <div>Email: {{ email }}</div>
        <button @click="logout">Logout</button>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            email: ''
        }
    },
    mounted() {
        axios.get('/user')
            .then(response => {
                this.email = response.data.email
            })
    },
    methods: {
        logout() {
            axios.post('/logout')
                .then(response => {
                    this.$router.push({name: 'Home'})
                })
        }
    }
}
</script>
